@import "mixins";

@media all and (min-width: 768px) {
  .wrapper{
    margin-left: 80px;
    margin-right: 92px;
  }

  .top-nav-btn{
    display: none;
  }
  .main-menu-big {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 164px;
    margin-right: 167px;
  }
  .card-block-item{
    display: flex;
  }
  .card-block-item--invisible{
    display: flex;
  }
  .card-block-item__img{
    margin-right: 21px;
    margin-bottom: 32px;
  }
  .card-block-item__text{
    margin-bottom: 13px;
  }
  .card-block-item__content{
    display: block;
  }
  .insta-block-wrapper{
    background: rgba(0, 0, 0, 0.03);
  }
  .title__text--insta{
    display: block;
  }
  .title--insta {
    @include flex-row-between;
  }
  .insta-block{
    display: flex;
    justify-content: center;
  }
  .insta-block__img {
    width: 249px;
    height: 249px;
    margin-right: 9px;
  }
  .insta-block__img--invisible{
    display: block;
  }
  .insta-block__img--invisible--last{
    display: none;
  }
  .footer__text--big {display: block}
  .footer__text--small {display: none}
  .footer__contacts{
    display: inline-block;
  }

}