@media all and (min-width: 1200px) {
  .wrapper{
    margin-left: 215px;
    margin-right: 215px;
  }
  .cards-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-block-item__content {
    width: auto;
  }

  .insta-block__img {
    width: 285px;
    height: 285px;}
  .insta-block__img--invisible--last {
    display: block;
    margin-right: 0;
  }
}