@import "reset";
@import "const";
@import "mixins";


.main{
    background: rgba(0, 0, 0, 0.0001);
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    margin-left: 25px;
    margin-right: 28px;
}
.wrapper-top-nav{
    margin-top: 23px;
    margin-bottom: 23px;
}
.top-nav {
    display: flex;
    justify-content: flex-end;

}
.top-nav-btn {
    @include flex-column-between;
    background: black;
    box-sizing: border-box;
    height: 37px;
    width: 44px;
    padding: 13px;
    cursor: pointer;
    position: relative;
}

.main-menu-big{
    display: none;}

.top-nav-btn__line {
    height: 2px;
    width: 100%;
    background: $main-color;
}
.top-nav-btn__line--turnLeft{
    position: absolute;
    transform: rotate(45deg);
    width: 17px;
    bottom: 50%;
}
.top-nav-btn__line--turnRight{
    position: absolute;
    transform: rotate(-45deg);
    width: 17px;
    bottom: 50%;

}
.img-top {
    width: 100%;
}


.main-menu {
    @include flex-column-between;
    position: absolute;
    top: 60px;
    width: 182px;
    background: $main-color;
    opacity: 95%;
}
.main-menu--invisible{
    display: none;
}
.main-menu__item{
    padding-left: 13px;
    height: 30px;
    display: flex;
    align-items: center;
}
.main-menu__item:active{
    background: $main-color;
}
.main-menu__item__content{
    font-size: 11px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
    cursor: pointer;
}
.main-menu__item__content:hover{
    color: #57A4A4
}


.title{
    margin-top: 38px;
    margin-bottom: 23px;
}
.title__text{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4E4E;
}
.title__text--insta {
    display: none;
}


.cards-block{}
.card-block-item{}
.card-block-item--invisible{
    display: none;
}
.card-block-item__img{
    margin-bottom: 20px;
}
.card-block-item__title{
    font-weight: bold;
    font-size: 14px;
    color: #4E4E4E;
    margin-bottom: 12px;
}
.card-block-item__text{
    font-size: 11px;
    color: #7C7C7C;
    margin-bottom: 32px;
}
.card-block-item__content {
    width: 404px;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    display: none;
}

.insta-block-wrapper{
    padding-top: 47px;
    padding-bottom: 40px;
}
.insta-block{}
.insta-block__img{
    width: 301px;
    height: 301px;
}
.insta-block__img--invisible{
    display: none;
}


.footer-wrapper {
    padding: 38px 35px 47px 35px;
}
.footer{
    @include flex-column-between;
    background: #000000;
    align-items: center;
}
.footer__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 12px;
}
.footer__text {
    font-size: 12px;
    color: #B9B9B9;
    line-height: 20px;
    text-align: center;
    margin-bottom: 26px;
}
.footer__text--small{}
.footer__text--big{
    display: none;
}
.footer-icons {
   @include flex-row-between;
    width: 192px;
    margin-bottom: 25px;

}
.footer-icon{
    position: relative;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.footer-icon__centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.footer-icon--rss{
    border: 2px solid #F8902E;
}
.footer-icon--facebook {
    border: 2px solid  #39599F;
}
.footer-icon--twitter{
    border: 2px solid #45B0E3;
}
.footer-icon--dribbble {
    border: 2px solid #D97AB0;
}
.footer-icon--pinterest {
    border: 2px solid #CC212C;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center
}
.footer__contact {
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    text-decoration: none;
}
.footer__contact--city{

}
.footer__contact--city:after {
    content: "/";
    margin-left: 12px;
}
.footer__contact--tel{
}
.footer__contact--tel:after{
    content: "/";
    margin-left: 12px;

}
.footer__contact--mail{
}


.invisible {
    display: none;
}
@import "media768";
@import "media1200";
