.background_style{
    font-family: 'Open Sans', sans-serif;
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    background: #F2F2F2;
    overflow-x: hidden}
.main-menu {
    background: #313131;
    width: 100%;
    margin: 0 auto;
}
.main-menu-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo {
    display: flex;
    text-decoration: none;
}
.main-menu-navbar {
    display: flex;
}
.main-menu-text {
    font-weight: 600;
    font-size: 15px;
    padding-right: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.main-menu-text:hover {
    color: #14B9D5;
}
.main-menu-text-styleleft {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.main-menu-img-left {
    padding-right: 27px;
    padding-left: 27px;
}
.main-menu-img-right {
    height: 70px;
    width: 68px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.center-text {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
    margin-bottom: 52px;
}
.button {
    width: 170px;
    height: 55px;
    background: #89CA62;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}
.button2 {
    background: #14B9D5;
}
.header-background {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/header-background.png");
}
.header-content {
    text-align: center;
    padding-top: 164px;
}
.header-text-style {
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
.button-pos {
    padding-top: 44px;
    padding-bottom: 74px;

}

.popular-box {
    display: flex;
    justify-content: space-between;
}
.vanglo-style {
    width: 370px;
    height: 320px;
    background: #FFFFFF;
    margin-bottom: 30px;
}
.sunrise-style {
    width: 370px;
    height: 441px;
    background: #FFFFFF;
    margin-bottom: 30px;

}
.stargaze-style {
    width: 370px;
    height: 355px;
    background: #FFFFFF;
    margin-bottom: 30px;

}
.royal-style {
    width: 370px;
    height: 321px;
    background: #FFFFFF;
}
.sunset-style {
    width: 370px;
    height: 309px;
    background: #FFFFFF;
}
.glorious-style {
    width: 370px;
    height: 441px;
    background: #FFFFFF;
}
.popular-box-text-style {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.popular-box-text {
    padding-top: 20px;
    text-align: center;
}

.logo-box {
    margin-top: 196px;
    display: flex;
    justify-content: center;
    padding-bottom: 191px;
}
.logo {
    padding-right: 58px;
}

.main-background {
    background-image: url("../img/Shape 22.png");
    margin-top: 74px;
    padding-top: 106px;
}

.img-table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.header-box-news {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
.news-style {
    background: #F9F7F7;
}
.news_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 46px;
    margin-bottom: 44px;
}
.news-box-text-h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin-top: 12px;
    margin-right: 14px;
}
.news-box-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    margin-top: 15px;
    margin-right: 14px;
    margin-left: 13px;
}
.news-box-top{
    height: 259px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
    margin-bottom:  44px;
}
.new-text {
    padding-top: 12px;
    text-align: center;
}
.news-box-top-left{
    display: flex;
}
.news-box-text-right {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.news-box-end {
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 60px;
    margin-bottom: 77px;
}

.footer-menu-style {
    background: black;
    width: 100%;
    height: 80px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.footer-text {
    font-size: 13px;
    color: #FFFFFF;
}