.bay-block {
    background: white;
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border: black solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.button-form{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.button-form:hover {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}