.background{
    background: url("../../imgs/background.jpg") center;
}
.top-nav{
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.main-menu {
    display: flex;
    flex-direction: row;
}
.main-menu__item{
    font-size: 20px;
    color: #BBBBBB;
    margin: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.main-menu__item:hover {
    transform: scale(1.2)
}
.main-menu-bay{
    text-align: left;
}
.main-menu-bay__item{
    font-size: 16px;
    padding: 5px;
    color: #BBBBBB;
    cursor: pointer;
    text-transform: uppercase;
}

.name {
    margin: 0;
    font-size: 50px;
    color: #BBBBBB;
    padding-top: 90px;
    padding-bottom: 90px;
    text-shadow: black 0 0 10px;
}
.wrapper{

}
.top-menu{
    display: flex;

}

.link-style{
    text-decoration: none;
    color: #BBBBBB;

}