.background-style{
    font-family: 'Roboto', sans-serif;
    max-width: 1480px;
    height: 1282px;
    width: 100%;
    margin: 0 auto}
.conteiner {
    width: 1280px;
    margin: 0 auto;
}
.header-position{
    margin-top: 61px;
}
.header-logo-style {
    font-size: 80px;
    text-decoration: none;
    color: black;
}
.header-logo-color {
    color: deepskyblue;
}
.header-logo-style:hover {
    text-decoration: underline deepskyblue 4px;
   }
.left-menu {
    height: 72px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-top: 38px;
    align-items: center;
}
.left-menu-text-style {
    padding: 25px 38px 19px 38px;
    border: white solid 2px;
    background-color: #35444F;
    cursor: pointer;
}
.left-menu-text-style:hover {
     background-color: #222F3A;
 }
.left-menu-node-style {
    border-right: none;
}
.main-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.main-content-style{
    width: 885px;
    margin-bottom: 54px;
}
.main-menu {
    width: 344px;
    height: 399px;
    border: 1px solid grey;
    font-size: 27px;
    color: #495863;
    cursor: pointer;
}
.main-menu-text {
    display: flex;
    align-items: center;
    width: 342px;
    height: 81px;
    text-indent: 44px;
}
.main-menu-text:hover {
    background-color: #DBDBDB;
    text-indent: 64px;
    color: #35444F;
    text-decoration: underline deepskyblue 2px;
}
.img-background {
    background-image: url("../img/top-img-fon.png");
    width: 885px;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-style {
    width: 320px;
    height: 381px;
    cursor: pointer;

}
.img-style:hover {
    width: 370px;
    height: 431px;
    transition: 500ms
;
}
.main-content-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}
.footer-style {
    width: 100%;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: #0C1927;
}
.footer-menu-style{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer-text {
    margin-right: 40px;
}
.footer-text:hover {
    text-decoration: underline deepskyblue 2px;
    color: deepskyblue;
    }
.copyright {
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
}