.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 180px;
  background-color: white;
  width: 350px;
  padding-bottom: 20px;

}
.modal__header {
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 15px;
}

.button_close {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 50%;
}
.button__block {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.modal__content__style{
  font-size: 16px;
  color: #0A162F;
  padding-top: 10px;
}

.button__block__btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  width: 100px;


}
.button__block__btn:hover {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}