.background-style{
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto}
.nav-tool {
    color: #FF0000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 330px;
    margin-bottom: 25px;
}
.position-home{
    text-decoration: none;
    color: #FF0000;
    }
.position-photoapp {
    text-decoration: none;
    color: #FF0000;
    margin-left: 72px;
    }
.position-design{
    text-decoration: none;
    color: #FF0000;
    margin-left: 72px;
   }
.position-download{
    text-decoration: none;
    color: #FF0000;
    margin-left: 72px;
    }
.position-main {
    margin-top: 78px;
    margin-left: 67px;
    margin-right: 67px
}
.img {
    width: 100%;
}
.content-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-bottom: 38px;
    margin-top: 48px;
    }
.content-text-style{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 28px;
    }
.button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    margin-left: 544px;
    margin-top: 66px;
    text-transform: uppercase;
    color: white;
    cursor: pointer}
.footer-position {
    margin-left: 713px;
    margin-top: 82px;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737
}
