.background-style {
    background-image: url("../img/background.png");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.header-style {
    background-color: rgba(0, 0, 0, 0.4);
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journey {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 79px;
    cursor: pointer;
    text-decoration: none;
}
.journey:hover{
    color: #3CB878;
}
.header-menu {
    display: flex;
    align-items: center;
    margin-right: 79px;
}
.welcome-text {
    font-size: 14px;
    color: white;
}
.welcome-text:before {
    content: '';
    border-left: solid white 1px;
    opacity: 0.5;
    padding-right: 27px
}
.welcome-link {
    color: white;
    text-decoration: none;
}
.welcome-link:hover {
    color: #3CB878;
}
.svg-link {
    text-decoration: none;
    margin-right: 27px;
}
.svg-link-color {
    fill: white;
}
.svg-link-color:hover {
    fill: #3CB878;
}
.form-wrapper {
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
}
.reg-style {
    width: 444px;
    background-color: white;
    padding-top:31px;
    padding-bottom: 54px;
    margin-top: calc((100vh - 605px - 58px)/2);
}
.button-position {
    display: flex;
    justify-content: space-between;
}
.link-style {
    text-decoration: none;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    color: white;

}
.facebook-button-color {
    background-color: #305DB8;
}
.facebook-button-color:hover {
    background-color: #022263;
}
.google-button-color {
    background-color: #DF4A32;
}
.google-button-color:hover {
    background-color: #AB1F09;
}
.Sign-Up-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
.Sign-Up-Text{
    font-size: 20px;
}
.reg-style:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.Log-In {
    color: #3CB878;
    font-size: 14px;
    text-decoration: none;
}
.Log-In:hover {
    color: #01813F;
    text-decoration: underline #01813F;
}
.img-button {
    width: 30px;
    height: 19px;
}
.img-button-google {
    width: 30px;
    height: 19px;
    padding-left: 12px;
}
.line:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    margin-right: 20px;
    opacity: 0.1;
}
.line-google:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    margin-right: 30px;
    opacity: 0.1;
}
.line {margin-right: 22px}
.line-google {
    margin-right: 27px;
}
.or {
    padding-top: 25px;
    padding-bottom: 11px;
    text-align: center;
    color: #848484;
    font-size: 14px;
}
.or:before  {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    background-color: #F2F2F2;
    height: 1px;
    width: 152px;}
.or:after {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    background-color: #F2F2F2;
    height: 1px;
    width: 152px;}
.input-form {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #BEBEBE;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;

}
.input-form:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #434343;
}
.checkbox-text {
    font-size: 14px;
    margin-top: -3px;
}
.checkbox-link {
    color: #3CB878;
    text-decoration: none;
}
.checkbox-link:hover {
    color: #01813F;
    text-decoration: underline #01813F;
}
.button-Create {
    background-color: rgba(60, 184, 120, 0.8);
    width: 100%;
    height: 46px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.button-Create:hover {
    background-color:#01813F;
    outline: none;
}

.background-style-dark {
    background-attachment: fixed;
    background-position: top;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url("../img/background.png");
}
.input-color-dark {
    color: #8A8A8A;
}
