.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  height: 160px;
  width: 350px;
  background-color: white;
  padding-bottom: 20px;
}
.modal__header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 15px;
}

.button_close {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}
.button__block {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}