.icon-size {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 25px;
    height: 25px;
}
.counter-size {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 18px;
    left: 30px;
    color: red;
}