.background-style {
        background-image: url("../img/background 1.png");
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: top;
        font-family: 'Roboto', sans-serif;
}
.header-wrapper {
        width: 100%;
        max-width: 1036px;
        margin: 0 auto;
}

.header-link {
        text-decoration: none;
        color: #FFFFFF;
}
.header-link:hover {
        color: #F26522;
}
.img-logo {
        width: 53px;
        height: 47px;
}
.header-link:hover .img-logo {
        content: url("../img/logo 2.png");
}
.header-content {
        display: flex;
        justify-content: space-between;
        margin-top: 51px;
        margin-bottom: 26px;
}
.header-logo {
        display: flex;
}
.mail-phone:hover {
        color: #F26522
}
.logo-milan {
        font-weight: bold;
        font-size: 29px;
        line-height: 29px;
        text-transform: uppercase;
}
.logo-holidays {
        font-size: 18px;
        line-height: 18px;
}
.logo-text-style {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 8px;
}

.contact_bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
}
.mail-phone {
        font-size: 18px;
        color: #FFFFFF;
        text-decoration: none;
}

.main-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.img {
        width: 300px;
        height: 300px;
        text-decoration: none;
}
.img-pos {
        width: 100%;
        position: relative;
}
.hover-menu-view{
        display: none;
}
.img:hover .main-menu-text {
        color: #F26522;
        top: -55px;
}
.img:hover .hover-menu-view {
        display:block;
}
.hover-menu{
        width: 100%;
        height: 55px;
        background-color:  #F26522;
        position: relative;
        top: -55px;
}
.img-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 7px 16px 16px 16px;

}
.img-menu-left {
        display: flex;
        flex-direction: column;
        color: #FFFFFF

}
.img-menu-content {
        font-size: 10px;
        padding-bottom: 8px;
}
.img-menu-content-size {
        font-size: 20px;

}
.img-menu-content-right-size {
        font-size: 14px;
        color: #FFFFFF;
}
.img-menu-content-right-size::after {
        content: url("../img/Vector1.png");
        padding-left: 16px;

}

.main-menu-text {
        position: relative;
        font-size: 18px;
        padding-top: 20px;
        text-align: center;
        color: #FFFFFF;


}

.footer {
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
}