.background-style {
        background-image: url("../img/kosmos.jpg");
        background-size: cover;
        width: 100%;
        perspective: 200px;
        overflow: hidden;}

.pe31 {
        font-size: 26px;
        color: darkgoldenrod;
        font-weight: bold;
        width: 500px;
        margin: 0 auto;
        transform: rotateX(30deg);
        animation: StarText 30s infinite;
}
.h1 {
    padding-bottom: 30px;
    text-align: center;
}
@keyframes StarText {
        0% { transform: rotateX(30deg) translateY(400px); }
        100% { transform: rotateX(30deg) translateY(-300px); }
}
