
.button-bay{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button-bay:hover {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}