.button__block__btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 100px;


}
.button__block__btn:hover {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}