.card-block-item
{
    width: 220px;
    border: black solid 2px;
    padding: 10px;
    margin: 20px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
