.card-block-item
{
    width: 220px;
    border: black solid 2px;
    padding: 10px;
    margin: 20px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-block-item__product-name {
    font-size: 16px;
    font-weight: bold;
    color: #0A162F;
}
.card-block-item__product-art {
    font-size: 12px;
    padding-bottom: 12px;
    color: #7C7C7C;
}

.card-block-item__product-price{
    font-size: 16px;
    color: #0A162F;
    padding-top: 10px;
}
.button-bay{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button-bay:hover{
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.card-block-item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.star-fit {

}