
.card-block-item__product-name {
    font-size: 16px;
    font-weight: bold;
    color: #0A162F;
}
.card-block-item__product-art {
    font-size: 12px;
    padding-bottom: 12px;
    color: #7C7C7C;
}

.card-block-item__product-price{
    font-size: 16px;
    color: #0A162F;
    padding-top: 10px;
}
.img_size{
    width: 100%;
}