.main {
    background-image: url("./imgs/thumb-1920-1093606.png");
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.twit-item {
    margin: 0 auto;
    width: 500px;
    height: content-box;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: .6;
    margin-bottom: 20px;
}