.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}


.cards-collection {
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #BBBBBB;

}
